* {
    a {
        text-decoration: none;
    }
}
body{
    overflow-x: hidden;
}

.card {
    border: 0px;
    // height: 50%;
    transform: scale(0.8, 0.8);
    // padding: 30px;
}
.card1 {
    transform: scale(1, 1);
}

ul {
    padding: 0px;
    margin: 0px;
}

// img:hover + .read-more {
//     display: block;

//   }

.large {
    border-color: #ededed;
    border-top-width: 4px;
    margin-top: 60px;
}

// ==================================popular Tour=====================================
.popular-container {
    padding-top: 80px;
    background-color: white;
    .popular-container__heading {
        .heading__col {
            text-align: center;
            .heading__line {
                span {
                    width: 120px;
                    height: 2px;
                    background-color: #e1e1e1;
                    display: block;
                    margin: auto;
                    em {
                        width: 60px;
                        height: 2px;
                        background-color: #fc5b62;
                        display: block;
                        margin: auto;
                    }
                }
            }
            .heading__title {
                text-align: center;
                margin-top: 25px;
            }
            .heading__para {
                p {
                    font-size: 1.5rem;
                    font-weight: 300;
                    line-height: 1.4;
                    margin-bottom: 30px;
                    color: #555;
                }
            }
        }
    }
    .popular-container__content {
        .content__leftcol {
            .leftcol__image1 {
                position: relative;
            }
            .leftcol__image1 {
                overflow: hidden;
                img {
                    transform: scale(1.2, 1.2);
                    transition: 0.3s all;
                }
                .read-more {
                    position: absolute;
                    top: 120px;
                    right: 35%;
                    background-color: rgba(233, 224, 224, 0.6);
                    color: black;
                    padding: 5px 10px;
                    font-weight: bold;
                    border-radius: 20px;
                    opacity: 0;
                    transition: 0.3s all;
                    cursor: pointer;
                }
                &:hover {
                    .read-more {
                        opacity: 1;
                        top: 115px;
                    }
                    img {
                        transform: scale(1, 1);
                    }
                }
            }

            .left-content {
                position: absolute;
                top: 5%;
                left: 10%;
                background-color: rgba(0, 0, 0, 0.6);
                color: #ccc;
                padding: 0px 15px;
                font-weight: bold;
                border-radius: 5px;
                p {
                    margin: 0px;
                }
            }
            .right-content {
                position: absolute;
                top: 5%;
                right: 10%;
                background-color: rgba(0, 0, 0, 0.6);
                color: #ccc;
                padding: 5px 10px;
                font-weight: bold;
                border-radius: 5px;
                i {
                    color: white;
                }
            }
            .leftcol__lowercontent {
                padding: 20px;
                .lowercontent__title {
                    h3 {
                        font-size: 1.25rem;
                        margin-bottom: 0.5rem;
                        font-weight: 500;
                        line-height: 1.2;
                    }
                    a {
                        color: #fc5b62;
                        text-decoration: none;

                        outline: none;
                    }
                    a:hover {
                        color: black;
                    }
                    p {
                        font-size: 0.875rem;
                        line-height: 1.6;
                        font-family: "Poppins", Helvetica, sans-serif;
                        color: #555;
                        span {
                            color: green;
                            font-weight: bold;
                        }
                    }
                }
                .lowercontent-row {
                    i {
                        font-size: 12px;
                    }
                    span {
                        font-size: 12px;
                    }
                    li {
                        font-size: 10px;
                    }
                    .lowercontent-row__right {
                        span {
                            background-color: #0054a6;
                            color: white;
                            font-weight: bold;
                            text-align: center;
                            padding: 10px;
                            border-radius: 5px 5px 5px 0;
                        }
                    }
                }
            }
        }
    }
}
.popular-container__dots {
    padding-top: 30px;
    text-align: center;
    ul {
        padding: 0;
        li {
            display: inline;
            padding: 5px;
            a {
                text-decoration: none;

                &:hover {
                    i {
                        color: $themecolor;
                    }
                }
                i {
                    color: #d6d6d6;
                    font-size: 10px;
                }
            }
        }
    }
}

.popular-container__viewall {
    text-align: right;
    padding-bottom: 20px;
    padding-top: 40px;

    button {
        background-color: $themecolor;
        border-radius: 20px;
        border: 0px;
    }
}
// ================================end popular tour====================================

// ================================Start popular Hotel====================================
.popularhotel-container {
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: white;
    .popularhotel-container__heading {
        .heading__col {
            .heading__line {
                span {
                    width: 120px;
                    height: 2px;
                    background-color: #e1e1e1;
                    display: block;
                    
                    em {
                        width: 60px;
                        height: 2px;
                        background-color: #fc5b62;
                        display: block;
                     
                    }
                }
            }
            .heading__title {
                // text-align: center;
                margin-top: 25px;
            }
            .heading__para {
                p {
                    font-size: 1.5rem;
                    font-weight: 300;
                    line-height: 1.4;
                    margin-bottom: 30px;
                    color: #555;
                }
            }
        }
    }
    .popularhotel-container__content {
        .leftcol__image1 {
            position: relative;
        }
        .leftcol__image1 {
            overflow: hidden;
            img {
                transform: scale(1.2, 1.2);
                transition: 0.3s all;
                background-color: rgba(0, 0, 0, 0.3);
            }
            .read-more {
                position: absolute;
                top: 120px;
                right: 35%;
                background-color: rgba(233, 224, 224, 0.6);
                color: black;
                padding: 5px 10px;
                font-weight: bold;
                border-radius: 20px;
                opacity: 0;
                transition: 0.3s all;
                cursor: pointer;
            }
            &:hover {
                .read-more {
                    opacity: 1;
                    top: 115px;
                }
                img {
                    transform: scale(1, 1);
                }
            }
        }

        .upper-content {
            position: absolute;
            top: 70%;
            left: 10%;
            // background-color: rgba(0,0,0,0.6);
            color: white;
            padding: 0px 15px;
            font-weight: bold;
            border-radius: 5px;
            li {
                display: inline;
            }
            p {
                margin: 0px;
            }
            i {
                font-size: 10px;
            }
        }
        .lower-content {
            position: absolute;
            top: 80%;
            left: 10%;

            color: white;
            padding: 5px 10px;
            font-weight: bold;
            border-radius: 5px;
            i {
                color: white;
            }
        }
        .middle-content{
            
                position: absolute;
                top: 15%;
                right: 10%;
    
                color: white;
                padding: 5px 10px;
                font-weight: bold;
                border-radius: 5px;
                i {
                    color: white;
                }
                span {
                    background-color: #0054a6;
                    color: white;
                    font-weight: bold;
                    text-align: center;
                    padding: 10px;
                    border-radius: 5px 5px 5px 0;
                }
            
        }

        .left-content {
            position: absolute;
            top: 5%;
            left: 10%;
            background-color: rgba(0, 0, 0, 0.6);
            color: #ccc;
            padding: 0px 15px;
            font-weight: bold;
            border-radius: 5px;
            p {
                margin: 0px;
            }
        }
        .leftcol__lowercontent {
            padding: 20px;
            .lowercontent__title {
                h3 {
                    font-size: 1.25rem;
                    margin-bottom: 0.5rem;
                    font-weight: 500;
                    line-height: 1.2;
                }
                a {
                    color: #fc5b62;
                    text-decoration: none;

                    outline: none;
                }
                a:hover {
                    color: black;
                }
                p {
                    font-size: 0.875rem;
                    line-height: 1.6;
                    font-family: "Poppins", Helvetica, sans-serif;
                    color: #555;
                    span {
                        color: green;
                        font-weight: bold;
                    }
                }
            }
            .lowercontent-row {
                i {
                    font-size: 12px;
                }
                span {
                    font-size: 12px;
                }
                li {
                    font-size: 10px;
                }
                .lowercontent-row__right {
                    span {
                        background-color: #0054a6;
                        color: white;
                        font-weight: bold;
                        text-align: center;
                        padding: 10px;
                        border-radius: 5px 5px 5px 0;
                    }
                }
            }
        }
    }
    .popular-container__viewall {
        padding-bottom: 20px;
        padding-top: 40px;

       a{
           color: $themecolor;
           text-decoration: none;
           font-weight: bold;
       }
    }
}

// ================================End popular Hotel====================================

// @import '../utilities/color';

.hero-section-adventure{

    
    background-image: url(../images/cover/adventure.jpg) ;
    

    background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
    height: 420px;
    
  .hero-section__background-adventure{
    background-color: rgba(12, 9, 9, 0.5);
    height: 420px;
   
    background-size: cover;
  
    .hero-section__conatiner-adventure{
         margin: 0;
            position: absolute;
            top: 20%;
            
           
            transform: translatex(5%);
        .hero-section__row{
            .hero-section__col{
               
               
                
                // height: 370px;
                text-align: left;
                
                // background-color: #fff;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                border-radius: 5px;
                width: 460px !important;
                text-align: left;
                padding: 30px 30px 30px 30px;
                color: white;
                .btn-danger{
                   
                    background-color: $themecolor;
                    font-weight: 500;
                    margin: 10px 0 0 0;
                    border: 0px;
                    padding: 10px 20px;
                }
                .btn-danger:hover{
                    background-color: blue;
                    
                }
                
            }
        }
    }
}
   
}


.popular-container__news-content{
    .news-content__container{
        .news-content-firstrow{
            .news-content-secondcol{
                img{
                    width: 100%;
                    transform: scale(1, 1);
                }

            }
        }
    }
}

.experience-image{
    padding: 0;
    margin: 0;
    .experience-image__row{
        padding: 0px;
        margin: 0;
        .experience-image__col{
            padding: 0px;
            margin: 0;
            .parallax{
                
                background-image: url("../images/cover/lightballon.jpg");
                min-height: 500px; 
               max-width: 100%;
                background-attachment: fixed;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
            }
            .overlay{
                background-color: rgba(12, 9, 9, 0.5);
           
                background-size: cover;
                position: absolute;
            }
            .row{
                justify-content: flex-end;
            }
            .card{
                background-color: $sec-theme;
                margin-top: 15%;
                float: right;
            }
            h2{
                color: #fff;
                font-size: 1.75rem;
                padding: 0px 35px;
            }
            p{
                color: #fff;
                padding: 35px;
                opacity: .8;
                margin-bottom: 30px;
            }
        }
    }
}
